
@{
	ViewBag.Title = "Index";
}

<h2 class="text-center"></h2>

<div class="row">
		<div  class="col-lg-12 container-fluid" style="background-color:darkolivegreen;">
			<p class="membercard-benefits">MemberCard Benefits</p>
		</div>
	<div class="col-lg-4">
		<img class="col-lg-2" src="~/Image/olives.png" alt="olives" />
	</div>
</div>

<div class="row text-primary">
	<div class="col-lg-6" style="background-color:white;">	
		<img class="center-block" src="~/Image/olive-oil.png" alt="pick" />
		<p class="member">Take a look of our products and chooce what do you need</p><br />
		</div>

		<div class="col-lg-6">
			<img class="center-block" src="~/Image/discover.png" alt="discover" />
			<p class="member">Are you already a member? Perfect! If you are not a member you can easily become and win discount on your next order by using our membercard!<br /> Each <strong>1€ = 10 points</strong> <br /></p>
		</div>
</div>	

<hr class="hr-success"/>

<div class="row offer">
		<div class="col-lg-2">
			<img class="" src="~/Image/discount-tag.png" alt="discount" />
		</div>
			<div class="col-lg-10">
			<table class="table table-sm offer">
				<thead>
					<tr>
						<th scope="col">
							Card
						</th>
						<th scope="col">Points</th>
						<th scope="col">Discount</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Basic</th>
						<td>0 - 1.000</td>
						<td>10€</td>
					</tr>
					<tr>
						<th scope="row">Silver</th>
						<td>1.001 - 5.000</td>
						<td>20€</td>
					</tr>
					<tr>
						<th scope="row">Gold</th>
						<td>> 5.000</td>
						<td>30€</td>
					</tr>
				</tbody>
			</table>		
	</div>
</div>






